h1 {
	padding: 10px;
	font: bold 40px verdana, sans-serif;
	color: white;
	text-align: center;
}
h2 {
	padding: 10px;
	font: 20px verdana, sans-serif;
	color: white;
	text-align: center;
}
#casaamarillo img, #casaverde img, #casarojo img, #casaazul img{
	float: inline-start;
}
td img{
	height: 100%;
	float: left;
}