header{
    background-color: #1E90FF;
}
h1 {
	padding: 10px;
	font: bold 40px verdana, sans-serif;
	color: white;
	text-align: center;
}

h2 {
	padding: 10px;
	background-color: #1E90FF;
	font: 20px verdana, sans-serif;
	color: white;
	text-align: center;
}
